/*Alli Jacobs
  Modified by Paul Patrick Bellosillo
  vers. September 3, 2019
*/

body{
	background-color: black;
	text-align:center;
	
}
h1{
	background-color: yellow;
	color: black;
	font-family:tahoma;
}
h2{
	color:rgb(245,243,113);
	font-family:courier;
	font-size:25px;
}
h3{
	color:white;
	font-family:courier;
}
p{
	color:white;
	font-size: 20px;
	font-family:courier;
}
img{
	border: 2px solid #ddd;
	padding: 3px;
	text-align: left;
}
.left{
	display: block;
	margin-right:auto;
	text-align:left;
}
.right{
	display:block;
	margin-left:auto;
	text-align:right;
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 25%;
}
.centergif{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.footer{
	left:0;
	bottom:0;
	width:100%;
	background-color: rgb(157,161,170);
	color:white;
	text-align:center;
}

table {
	background-color: rgb(105, 105, 105);
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

td {
	color: yellow;
	margin-left: 10px;
}